@page "/editdeleteuser/{Id:int}"
@using System.Net.Http;
@using System.Net.Http.Json;
@using CRUDProject5.Data;
@inject HttpClient Http;
@inject NavigationManager Navegacion;
@inject IJSRuntime _jsRun
@using Microsoft.Extensions.Logging
@inject ILogger<EditarEliminarUsuario> Logger
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<main class="flex-shrink-0">






    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-pencil-square"></i></div>
                    <h1 class="fw-bolder">Actualizar/Eliminar Usuario</h1>
                    <p class="lead fw-normal text-muted mb-0">Ingresa los datos solicitados</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <EditForm Model="ObRep" OnValidSubmit="@HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <label for="name">Nombre</label>
                                <InputText class="form-control" @bind-Value="@ObRep.UserName"></InputText>

                            </div>

                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <label for="message">Correo Electronico</label>
                                <InputText class="form-control" @bind-Value="@ObRep.Email"></InputText>

                            </div>

                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <label for="phone">Nombre</label>
                                <InputText class="form-control" @bind-Value="@ObRep.Name"></InputText>
                                
                            </div>

                            <div class="form-floating mb-3">
                                <label for="latitud">Apellido</label>
                                <InputText id="latitud" class="form-control" @bind-Value="@ObRep.LastName"></InputText>

                            </div>
                            <div class="form-floating mb-3">
                                <label for="longitud">Contraseña</label>
                                <InputText type="password" id="longitud" class="form-control" @bind-Value="@ObRep.Password"></InputText>
                                
                            </div>
                            @if (roleloged=="Master")
                {

                        <div class="form-floating mb-3">
                            <label for="Contraseña">Rol</label>
                            <InputSelect @bind-Value="@ObRep.IdRole">
                                <option value="1">Master</option>
                                <option value="2">Administrator</option>
                                <option value="3">Client</option>
                            </InputSelect>

                        </div>

                }
                            <!-- Submit Button-->
                            <div class="d-grid text-center">
                                <button type="submit" class="btn btn-info btn-lg " @onclick="Actualizar">Actualizar usuario</button>
                                <button class="btn btn-warning btn-lg " @onclick="Eliminar">Eliminar usuario</button>
                            </div>
                            <div class="d-grid text-center"><button class="btn btn-primary btn-lg " @onclick="Cancelar">Cancelar</button></div>
                        </EditForm>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Universidad Tecnológica Metropolitana 2022</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>

@code {

    [Parameter]
    public int Id { get; set; }

    public string userloged { get; set; }
    public string roleloged { get; set; }
    public string nameloged { get; set; }

    UserRequest ObRep = new UserRequest();
    Respuesta<object> oRes = new Respuesta<object>();
    Respuesta<UserRequest> oResReport = new Respuesta<UserRequest>();
    public string Url = "api/user";

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }

    private async Task Actualizar()


    {

        var response = await Http.PutAsJsonAsync<UserRequest>(Url, ObRep);
        oRes = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
        Navegacion.NavigateTo("/usuarios");
    }

    private async Task Eliminar()


    {
        var response = await Http.DeleteAsync(Url + "/" + Id);
        oRes = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
        Navegacion.NavigateTo("/usuarios");
    }

    private void Cancelar() => Navegacion.NavigateTo("/reportes");

    protected override async Task OnInitializedAsync()
    {
        oResReport = await Http.GetFromJsonAsync<Respuesta<UserRequest>>(Url + "/" + Id);
        ObRep = oResReport.Data;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userloged = await localStorage.GetItemAsync<string>("IdUserLoged");
            roleloged = await localStorage.GetItemAsync<string>("Rol");
            nameloged = await localStorage.GetItemAsync<string>("nombre");
            StateHasChanged();
        }
        else
        {
            StateHasChanged();
        }

    }

}
